<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Fans</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <% @fans.each do |fan| %>

      <div class="col-xs-4 col-md-2">

      <%= link_to image_tag(fan.image_url, :class => "img-responsive"), fan  %>

    <% end %>

      </div>
      <br>
  </div>
</div>

<br>

<%= link_to 'New Fan', new_fan_path %>
